{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>The Vault</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for movie in movies %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Card images -->
                            <div class="image-container">
                                {% if "placeholder" in movie.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src="{{ movie.featured_image.url }}" alt="{{ movie.title }}">
                                {% endif %}
                            </div>
                            <div class="image-flash">
                                <a href="{% url 'post_detail' movie.slug %}" class="post-link">
                                    <h2 class="card-title">{{ movie.title }}</h2>
                                </a>

                                <p class="author">Director: {{ movie.director }} | {{ movie.year }} </p>
                                <p>Average Rating: {{ movie.average_rating|floatformat:1 }}/10</p>
                                <p>{{ movie.comments.count }} Comments</p>
                                {% if not movie.is_approved and movie.author == user %}
                                <p class="text-warning">This post is a draft and awaiting approval.</p>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}