    .main-bg {
        background-color: rgb(97, 97, 97);
        color: rgb(96, 0, 0);
    }
    a {
        color: rgb(118, 0, 0);
        text-decoration: none;
    }

#card-body  {
    background-color: brown;
    border-radius:100px;
}