@font-face {
    font-family: 'MyCustomFont';
    src: url("/static/fonts/Creepster-Regular.2bcd50bbe90a.ttf") format('truetype');
    font-display: swap;
    letter-spacing: 0.2em;
}

.main-bg {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    background: linear-gradient( rgb(0, 0, 0), rgb(29, 0, 0), rgb(0, 0, 0));
    }  

.hero {
    background-image: url("/static/images/banner.e7f7f830b5d9.webp");
    background-size: 150%; /* Zoom out the image */
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 350px;
    margin-bottom: 1rem;
    transition: background-size 0.5s ease-in-out;
}

.hero:hover {
    background-size: 100%; /* Zoom in the image on hover */
}
@keyframes zoom {
    0% {
        background-size: 120%;
    }
    100% {
        background-size: 100%;
    }
}

.hero {
    animation: zoom 15s infinite alternate;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    color: rgb(92, 0, 0);
    font-family: 'MyCustomFont';
    font-size: 3rem;
}

h2,
h3,
h5 {
    font-family: 'MyCustomFont';
    color: #00a82a;
    background: linear-gradient(135deg, rgb(43, 43, 43), rgb(0, 0, 0), rgb(41, 41, 41));
    border-radius: 0 0 3rem 3rem;
}

h3 {
    color: #FF0000;
    background-color: #1A1A1A;
}

/* navigation hands */
#hands{
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.a .link {
    background-color: rgb(139, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn.btn-edit, 
.btn.btn-delete {
    background-color: rgb(139, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    color: rgb(139, 137, 0);
}

.page-wrapper {
    text-align: center;
}

main {
        max-width: 80%;
        margin: 0 auto;
        
}

.image-container {
    background-color: rgb(126, 10, 10);
}

.navbar {
    color: #ffffff;
    background: linear-gradient(135deg, rgb(139, 0, 0), rgb(58, 0, 0), rgb(139, 0, 0));
    font-size: large;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 1rem;
}
/* navigait text */
.nav {
    color: rgb(255, 255, 255);
    background-color: rgb(78, 0, 0);
}

.nav-item {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.text-end {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.brand {
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.image-container {
    border: 0px solid rgba(0, 0, 0, 0);
}

.card {
    background-color: rgba(0, 0, 0, 0.192) !important;
    color: rgb(255, 255, 255) !important;
    border: 0 !important;
    border-radius: 10px !important;
}

/** Comments total */
.container {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.modal-body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.card-img-top:hover {
    transform: scale(1.1) rotate(5deg);
    transition: transform 1s;
    box-shadow: 0 0 15px 5px rgba(202, 0, 0, 0.5);
}