@font-face {
    font-family: 'MyCustomFont';
    src: url('/static/fonts/Creepster-Regular.ttf') format('truetype');
    font-display: swap;
    letter-spacing: 0.2em;
}

.page-wrapper {
    margin: auto 0;
}

.main-bg {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    background: linear-gradient( rgb(0, 0, 0), rgb(29, 0, 0), rgb(0, 0, 0));
    }  

    main {
            max-width: 80%;
            margin: 0 auto;
            
    }

.hero {
    background-image: url(/static/images/banner.webp);
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: top; /* Align the image to the top */
    overflow: hidden;
    background-repeat: no-repeat;
    height: 350px;
    margin-bottom: 1rem; /* Remove bottom margin */
    transition: background-size 0.5s ease-in-out;
}

/* animate the hero image */
.hero {
    background-size: 100%; 
    animation: zoom 15s infinite alternate;
}
@keyframes zoom {
    0% {
        background-size: 120%;
    }
    100% {
        background-size: 100%;
    }
}

/* headers */
h1 {
    color: rgb(92, 0, 0);
    font-family: 'MyCustomFont';
    font-size: 3rem;
    margin: auto 0;
    text-align: center;
}

h2{
    font-family: 'MyCustomFont';
    color: #00a82a;
    /* background: linear-gradient(135deg, rgb(24, 0, 0), rgb(0, 0, 0), rgb(20, 0, 0)); */
    margin: auto 0;
    text-align: center;
    /*border-radius: 0.5rem 0.5rem;*/
    /* padding: 1rem 1rem;*/
}

h3 {
    font-family: 'MyCustomFont';
    color: #06c200;
    background-color: #1A1A1A;
    margin: auto 0;
    text-align: center;
    padding: 1rem;
}

/* links */

a {
    text-decoration: none;
}

.a-link {
    background-color: rgb(139, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* navbar */

.navbar {
    color: #ffffff;
    background: linear-gradient(135deg, rgb(139, 0, 0), rgb(58, 0, 0), rgb(139, 0, 0));
    font-size: large;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin-bottom: 1rem;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav {
    color: rgb(255, 255, 255);
    background-color: rgb(78, 0, 0);
    margin: auto 0;
    vertical-align: middle;
}

.nav-item {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.text-end {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.brand {
    font-family: 'MyCustomFont';
    color: rgb(255, 255, 255);
    font-size: 32px;
}

/* buttons */
.btn {
    margin-bottom: 16px;
    color: #111111;
    background-color: #ffd000;
    border: 0;
}

.btn.btn-edit, 
.btn.btn-delete {
    background-color: rgb(139, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn.btn-edit:hover, 
.btn.btn-delete:hover {
    background-color: rgb(208, 255, 0);
    color: rgb(139, 0, 0);
}

.btn:hover {
    color: #0f0f0f;
    background-color: #ff0000;
    font-weight:bold;
}

p.approval {
    color: #c50202;
}

p {
    font-size: 1.2rem;
    color: rgb(139, 137, 0);
    margin: 1rem 2rem;
    text-align: center;
}

/* lists */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* images */
.image-container {
    border: 0px solid rgba(0, 0, 0, 0);
}

.container img {
    padding:2rem;
}

.card {
    background-color: rgba(0, 0, 0, 0.192) !important;
    color: rgb(255, 255, 255) !important;
    border: 0 !important;
    border-radius: 10px !important;
}

.card-img-top:hover {
    transform: scale(1.1) rotate(5deg);
    transition: transform 1s;
}

/** Comments total */
.text-secondary {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding-left: 2rem;
}

.modal-body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.text-warning {
    color: rgb(226, 0, 0);
}

#modal, #modal-header, .modal-content {
    background-color: rgb(0, 0, 0);
    background-image: url(/static/images/banner.webp);
    animation: fadeImage 1s ease-in-out;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

#id_score{
    width:60px;
    margin-bottom: 2.5rem;
}

form label {
    /* display: none; */
    font-size: 0px; /* hide the label*/
}

.average_score {
    color: #141414;
    background: linear-gradient( rgb(109, 89, 1), rgb(189, 192, 0), rgb(109, 89, 1));
    border-radius: 10px;
    padding: 5px;
    margin:1rem;
}

#review-wrapper {
    background-color: #181818;
    color: #ffd000;
    padding: auto;
    border-radius: 8px;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navigation hands */
#hands{
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 768px) {
    .hero {
        height: 100px; /* Adjust hero height for mobile view */
    }
}

@media (max-width: 1000px) {
    .navbar-collapse {
        margin: auto;
        text-align: center;
        }
    }

